.card-article {
    width: calc((100% - 20%) / 3);
    position: relative;
    margin-top: 3%;
    margin-bottom: 5%;
    box-shadow: 5px 5px 10px rgb(185, 185, 185);
    
    &:nth-child(3n + 4) {
        margin: 3% 10% 5%;
    }
    
    &:first-child {
        width: calc(65% - 5%);
        margin-right: 5%;
    }
    
    &:nth-child(0n + 2) {
        width: calc(35% - 5%);
        margin: 3% 0% 5% 5%;
    } 
    
    &-img {
        height: 400px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-header {
        width: 100%;
        background: rgba(0, 0, 0, 0.75);
        position: absolute;
        bottom: 0;
        z-index: 2;
        h3 {
            color: $white;
            padding: 20px;
        }
        p {
            height: 80px;
            color: $white;
            padding: 0px 20px;
            margin: 0;
        }
        div {
            padding: 10px 20px;
            @extend %flexWrapJbetween;
            span {
                color: $white;
            }
        } 
    }

    &-link {
        color: $primary;
        text-decoration: none;
        &:hover {
            color: $white;
        }
        &:visited {
            color: $primary;
            &:hover {
                color: $white;
            }
        }
    }
}


// ----------- RESPONSIVE CARD ARTICLE -----------  //

@media screen and (max-width: 1024px)
{
    .card-article {
        width: calc((100% - 10%) / 2);

        &:nth-child(3n + 4) {
            margin: 3% 0 5%;
        }
        
        &:first-child, &:nth-child(0n + 2)  {
            width: calc(50% - 5%);
        }

        &:nth-child(odd) {
            margin-right: 5%;
        }

        &:nth-child(even) {
            margin-left: 5%;
        }
        
    }
}


@media screen and (max-width: 768px)
{
    .card-article {
        width: 100%;

        &:first-child, &:nth-child(0n + 2) {
            margin: 10% 0 0;
            width: 100%;
        }

        &:nth-child(3n + 4), &:nth-child(odd), &:nth-child(even)  {
            margin: 10% 0 0;
        }

        &-header {
            div {
                span {
                    font-size: 14px;
                }
            }
        }

    }
}