%cta {
    color: $white !important;
    background: $primary !important;
    font-size: $size16 !important;
    font-family: $roboto !important;
    border: solid $primary 2px !important; 
    font-weight: $weight700 !important;
    text-transform: uppercase !important;
    padding: 10px 12px !important;
    width: 200px !important;
    cursor: pointer !important;
    display: block !important;
    margin: auto !important;
    text-decoration: none !important;
    &:hover {
        color: $primary !important;
        border: solid $primary 2px !important;
        background: $white !important;   
    }
}

.form-contact form p .cta {
    @extend %cta;
}

.cta-advanced-search{
    @extend %cta;
    margin: 50px auto !important;
}

.cta-create-project-button{
    @extend %cta;
}

.cta-home-search {
    @extend %cta;
    width: 100px !important;
}