%linkMenu {
    color: $black;
    text-transform: uppercase;
    font-family: $oswald;
}

%h1Title {
    font-family: $oswald;
    font-size: $size40;
    font-weight: $weight700;
    color: $primary;
    text-transform: uppercase;
}

%h2Title {
    font-family: $oswald;
    font-size: $size32;
    color: $black;
}

h1 {
    @extend %h1Title;
    margin: 80px 0 0 10%;
}

.second-headline {
    @extend %h2Title;
    margin: 0 0 0 10%;
}

.principal-title {
    @extend %h1Title;
    text-align: center;
    margin: 40px 0 0px 0;
}

.second-title-homepage {
    text-align: center;
    @extend %h2Title;
    text-transform: uppercase;
    text-decoration: underline;
    padding-bottom: 30px;
}

.second-title-adSearch {
    @extend %h2Title;
    width: 100%;
    padding-bottom: 20px;
}

// ----------- RESPONSIVE CARD FONTS -----------  //

@media screen and (max-width: 600px)
{
    .second-title-homepage {
        padding: 60px 0px 30px;
    }
}