%linkMenu {
    color: $black;
    text-transform: uppercase;
    font-family: $oswald;
}

h1 {
    font-family: $oswald;
    font-size: $size40;
    font-weight: $weight700;
    color: $primary;
    text-transform: uppercase;
    margin: 80px 0 0 10%;
}

.second-headline {
    font-family: $oswald;
    font-size: $size32;
    color: $black;
    margin: 0 0 0 10%;
}