.custom-footer {
    padding: 60px 10%;
    background: $lightGray;
    display: flex;
    align-items: center;
    .logo {
        line-height: 0;
        img {
            width: 200px;
        }
    }
    nav {
        ul {
            padding-left: 10%;
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            li {
                padding: 10px;
                width: 33.33%;
                a {
                    font-size: 20px;
                    color: $black;
                    text-transform: uppercase;
                    font-family: $oswald;
                    &:hover {
                        color: $primary;
                    }
                }
            }
        }
    }
}

// ----------- RESPONSIVE FOOTER -----------  //

@media screen and (max-width:1024px) 
{
    .custom-footer {
        nav {
            ul {
                li {
                    a {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:850px) 
{
    .custom-footer {
        display: flex;
        flex-direction: column;
        nav {
            ul {
                margin-top: 30px;
                padding-left: initial;
                flex-direction: column;
                text-align: center;
                li {
                    width: 100%;
                    padding: 20px;
                    a {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}