%customInput {
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
    padding: 10px 0px !important;
    font-size: $size16 !important;
    font-weight: $weight400 !important;
    border-bottom: solid $black 2px !important;
}

form .input {
    @extend %customInput;
}
.um input[type=submit].um-button, .um input[type=submit].um-button:focus, .um a.um-button.um-disabled:hover, .um a.um-button.um-disabled:focus, .um a.um-button.um-disabled:active {
    background: $primary !important;
}