%customInput {
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0px;
    font-size: $size16;
    font-weight: $weight400;
    border-bottom: solid $black 2px;
}

form .input {
    @extend %customInput;
}
