.main-waves {
    position: relative;
    overflow: hidden;
}

.wave {
    position: absolute;
    overflow:hidden;
    
    &-top-left {
        left: -10%;
        z-index: -5;
    }
    
    &-top-right{
        right: -10.5%;
        z-index: -5;
    }
    
    &-bottom-left {
        left: -15%;
        z-index: -5;
    }

}

// ----------- RESPONSIVE waves -----------  //

@media screen and (max-width:850px) 
{
    .wave {
        &-top-left {
            display: none;
        }
    }
}
