.section-lm {
    width:80%;
    margin-left: 10%;
    margin-right: 12%;
    
    p{
        margin-left: 2%;
    }

    a{
        color: orange;
    }

    h2{
        color: red;
        text-decoration: underline;
    }
    
    h3{
        color: rgb(253, 188, 188);
    }
}

.section-profil {
    margin: 80px auto;
}