.section-Account{
    padding: 20px;
    article{
        
        .shadow{
            width: 80vw;
            margin: 0 auto;
            box-shadow: 5px 10px 5px #9A9A9A;
            
        }
    }
}