.section-single{
    position: relative;
    padding-bottom: 120px;
    background-color: $lightGray;
    border-bottom: solid 4px $primary;
    .top-bot-orange{
        background-color: $primary;
        height: 30vh;
    }
        article{
            margin: -15vh auto 0 ;
            width: 80vw;
            background-color: white;
            border: black solid 1px;
            border-radius: 20px;
            padding: 60px 30px;
            h1{
                text-align: center;
                padding: 0 0 30px 0;
                margin: 0;
            }
            p{
                font-family: $roboto;
                font-size: $size16;
                color: $black;
            }
            .image-mise-en-avant{
                img{
                    width: 100%;
                    height: 500px;
                    object-fit: contain;
                }
            }
            a{
                text-decoration: none;
                color: $primary;
            }
        }
    .single_event_listing{
        display: flex;
        justify-content: space-between;
        padding: 0 10%;
        .image-logo{
            display: flex;
            img{
                width: 200px;
                align-self: center;
                justify-content: center;
            }
        }
    }
    .description{
        background-color: $primary;
        width: 100%;
        padding: 20px 0;
        h2{
            color: $white;
        }
        p{
            padding: 5px 10%;
            color: $white;
        }
    }
}
.event-single{
    padding: 0 !important;
}
.single_event_listing-Place{
    display: flex; 
    padding: 0 10% ;
    .Information{
        padding-right: 25%;
    }
}


// ----------- RESPONSIVE feature cards -----------  //

@media screen and (max-width: 1024px) {

    .section-single article .image-mise-en-avant img {
        height: initial;
    }

}


@media screen and (max-width: 768px) {

    .nav-links {
        flex-direction: column;
    }

    .post-navigation .nav-next {
        text-align: initial;
    }

}