.section-single{
    position: relative;
    padding-bottom: 120px;
    background-color: $lightGray;
    border-bottom: solid 4px $primary;
    .top-bot-orange{
        background-color: $primary;
        height: 30vh;
    }
        .event-single{
            margin: -15vh auto 0 ;
            width: 80vw;
            background-color: white;
            border: black solid 1px;
            border-radius: 20px;
            h1{
                text-align: center;
                padding: 50px 0 0px 0;
                margin: 0;
            }

            .image-mise-en-avant{
                img{
                    width: 100%;
                    height: 500px;
                    object-fit: contain;
                }
            }
            a{
                text-decoration: none;
                color: $primary;
            }
        }

    // .single_event_listing{
    //     display: flex;
    //     justify-content: space-between;
    //     padding: 0 10%;
    //     margin-bottom: 50px;
    // }
}

.content-article {
    padding: 0px 30px;
    .image-mise-en-avant {
        margin-top: 40px;
    }
}

.section-data-single {
    padding: 20px 100px 20px;
    
    h2 {
        font-size: $size32;
        font-family: $oswald;
        padding-bottom: 20px;
    }

    p {
        font-size: $size16;
        font-family: $roboto;
        margin-bottom: 10px;
    }

    &-informations, &-eventDetails {
        padding-top: 80px;
    }

    &-eventDetails {
        padding-bottom: 80px;
    }

    &-description {
        padding: 40px 100px;
        margin: 40px 0px;
        background: $primary;
        h2, p {
            color: $white;
        }
    }

    article {
        @extend %flexWrapJbetween;
        align-items: center;
        .image-logo {
            width: 300px;
        }
    }

    .article-placeVenue {
        @extend %flexWrap;
        justify-content: initial;
        div:nth-child(2) {
            margin-left: 120px;
        }
    }
}


// ----------- RESPONSIVE feature cards -----------  //

@media screen and(max-width: 1100px)
{
    .section-data-single {
        padding: 20px 80px 20px;
    }
}

@media screen and (max-width: 1024px)
{
    .section-data-single {

        &-placeVenue {
            h2 {
                text-align: center;
            }
        }

        &-eventDetails {
            padding-top: 60px;
            padding-bottom: 100px;
        }

        article {
            text-align: center;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .image-logo {
                margin-top: 40px;
            }
        }

        .article-placeVenue {
            flex-direction: column;
            text-align: center;
            div:nth-child(2) {
                margin-left: 0px;
            }
        }
    }
    
}

@media screen and (max-width: 600px){
    .section-single .event-single {
        width: 90%;
    }
    .section-data-single {
        padding: 20px 20px 20px;
    }
}


@media screen and (max-width: 1024px) {

    .section-single article .image-mise-en-avant img {
        height: initial;
    }

}


@media screen and (max-width: 768px) {

    .nav-links {
        flex-direction: column;
    }

    .post-navigation .nav-next {
        text-align: initial;
    }
    .single_event_listing-Place{
        flex-direction: column;
    }
    .single_event_listing{
        display: flex;
        flex-direction: column-reverse;
        padding: 0 10%;
    }
}