.advanced-search{
    margin: 0 10%;
}

.search-content{
    min-height: 500px;
}

.search-form{
    .sections-container{
        display: flex;
        justify-content: space-between;
    }

    .input{
        font-size: 20px;
        width: 200px;
        margin-top: 20px;
    }
}

.search_when_container, .search_where_container{
    width: 42.5%;
}

.search {
    padding-top: 50px;
    h2 {
        font-family: $oswald;
        font-size: 40px;
        color: black;
    }
    .search_where, .search_when {
        @extend %flexJbetween;
    }

    .search_what {
        @extend %flexWrapJbetween;
    }
}


.submit-search{
    text-align: center;
    margin: 60px 0px;
}

.no-events-found {
    background: rgb(255, 168, 168);
    border: solid red 1px;
    color: red;
    padding: 20px;
    margin: 30px auto 120px;
    width: 80%;
    @extend %flexJcenterAcenter;
    p {
        margin-bottom: 0px;
    }
}

@media (max-width: 640px){
    .sections-container{
        flex-direction: column;
    }

    .search_when_container, .search_where_container{
        width: 100%;
    }

    .wpem-event-details{
        text-align: left;
    }


    .advanced-search{
        text-align: center;
    }

    .search-form{
        width: auto;
        text-align: center;
    }

    .search{
        &_where_container{
            .search_where{
                flex-direction: column;
            }
        }

        &_when_container{
            .search_when{
                flex-direction: column;
            }
        }

        &_what_container{
            .search_what{
                flex-direction: column;
            }
        }
    }
}
