.section-createEvent {
    form {
        width: 80%;
        margin: auto;
        input, select {
            @extend %customInput;
        }
    }

    h2 {
        font-family: $oswald;
    }
}

.wpem-form-wrapper .wpem-form-group {
    margin-bottom: 30px !important;
    margin-top: 20px !important;
}