/* Colors */
$primary : rgba(255, 128, 36, 1);
$secondary : rgba(255, 181, 36, 1);
$lightGray : rgba(246, 246, 246, 1);
$lightOrange: rgba(255, 239, 154, 1);
$black : rgba(38, 38, 38, 1);
$white : white;
$gradient : linear-gradient(181.77deg, #FFDA15 8.41%, #FFB524 79.48%);

/* Font Family */
$oswald : 'Oswald', sans-serif;
$roboto : 'Roboto', sans-serif;

/* Font Size */
$size40 : 40px;
$size32 : 32px;
$size24 : 24px;
$size20 : 20px;
$size16 : 16px;

/* Font Weight */
$weight400 : 400;
$weight500 : 500;
$weight700 : 700;

