/* Error: Can't find stylesheet to import.
 *    ,
 * 23 | @import './section-account';
 *    |         ^^^^^^^^^^^^^^^^^^^
 *    '
 *   sass\custom\sections\_sections.scss 23:9  @import
 *   sass\custom\_custom.scss 14:9             @import
 *   sass\style.scss 106:9                     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a    \2577 \a 23 \2502  @import './section-account';\d\a    \2502          ^^^^^^^^^^^^^^^^^^^\a    \2575 \a   sass\\custom\\sections\\_sections.scss 23:9  @import\a   sass\\custom\\_custom.scss 14:9             @import\a   sass\\style.scss 106:9                     root stylesheet";
}
