/* Error: From line 1, column 1 of sass\custom\components\_header.scss: 
 *   ╷
 * 1 │ %linkMenu {
 *   │ ^^^^^^^^^^
 *   ╵
 * You may not @extend selectors across media queries.
 *     ,
 * 108 |                         @extend %linkMenu;
 *     |                         ^^^^^^^^^^^^^^^^^
 *     '
 *   sass\custom\components\_header.scss 108:25  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: From line 1, column 1 of sass\\custom\\components\\_header.scss: \a   \2577 \a 1 \2502  %linkMenu {\d\a   \2502  ^^^^^^^^^^\a   \2575 \aYou may not @extend selectors across media queries.\a     \2577 \a 108 \2502                          @extend %linkMenu;\d\a     \2502                          ^^^^^^^^^^^^^^^^^\a     \2575 \a   sass\\custom\\components\\_header.scss 108:25  root stylesheet";
}
